body {
    background-color: lavenderblush;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: deeppink;
    text-align: center;
}

h2 {
    color: lightpink;
    text-align: center;
}

p {
  color: hotpink;
}

img {
    width: 250px;
}
